<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6e8eef">  <td>20/05/17 10:08:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.BookingFlight()[pri:2, instance:com.NewTours.testscripts.NewTest@39aeed2f]">BookingFlight</td> 
  <td>main@1308244637</td>   <td></td> </tr>
<tr bgcolor="6e8eef">  <td>20/05/17 10:08:54</td>   <td>6156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.ConfirmMessageCheck()[pri:3, instance:com.NewTours.testscripts.NewTest@39aeed2f]">ConfirmMessageCheck</td> 
  <td>main@1308244637</td>   <td></td> </tr>
<tr bgcolor="6e8eef">  <td>20/05/17 10:08:39</td>   <td>-9265</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.Login()[pri:1, instance:com.NewTours.testscripts.NewTest@39aeed2f]">Login</td> 
  <td>main@1308244637</td>   <td></td> </tr>
<tr bgcolor="6e8eef">  <td>20/05/17 10:08:55</td>   <td>6566</td> <td>&nbsp;</td><td title="&lt;&lt;NewTest.afterTest()[pri:0, instance:com.NewTours.testscripts.NewTest@39aeed2f]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1308244637</td>   <td></td> </tr>
<tr bgcolor="6e8eef">  <td>20/05/17 10:07:39</td>   <td>-68902</td> <td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeTest()[pri:0, instance:com.NewTours.testscripts.NewTest@39aeed2f]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1308244637</td>   <td></td> </tr>
</table>
